body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
body h1{
  font-family: LeferiBaseType-RegularA;
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header {
  text-align: center;
  margin-bottom: 30px;
}
.product-info,
.payment-info {
  margin-bottom: 20px;
}
.product-info h2,
.payment-info h2 {
  margin-bottom: 10px;
}
.product-info p,
.payment-info label {
  font-size: 16px;
  margin-bottom: 8px;
}
.input-group {
  margin-bottom: 15px;
}
.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn {
  width: 100%;
  padding: 15px;
  background-color: #4caf50;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: #45a049;
}
footer {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #888;
}
